<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="text-center">
<br>
<h1>Documentation</h1>
<br>
<div id="custom">
<h3>Custom Honey Pot</h3>
<p>Post to: <code>https://api.hackershoneypot.tk</code></p>
<h5>Example code</h5>
<p><textarea style="width:30%; height:40%">
<html>
<head>
<title>Log In</title>
</head>
<body>
<form action="https://api.hackershoneypot.tk">
  <label for="usr">User:</label><br>
  <input type="text" id="usr" name="usr"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
</textarea></p>
</div>
</div>

<%- include('./includes/scripts') %>