<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="text-center">
<br>
<img src="logo.png" style="width:15%">
<br>
<h1>Hacker's Honey Pot</h1>
<h4>We report hackers</h4>
<a href="https://hackershoneypot.tk/prebuild/" type="button" class="btn btn-primary">Get Started</a> <a href="#more" type="button" class="btn btn-primary">Learn More</a>
<br>
<br>
<div id="more">
<h2>What is Hacker's Honey Pot</h2>
<h6>Hacker's Honey Pot is a free api that let's you create honey pots.</h6>
<br>
<h2>Were are the ip's reported?</h2>
<h6>The ip's are reported ro AbuseIPDB and are stored in our database.</h6>
</div>
</div>
<%- include('./includes/scripts') %>